// * {cursor: url("https://items.jellyneo.net/assets/imgs/items/2782.gif?231") , auto !important;}

h1 {
  color: white;
  font-size: 2rem;
}



h2 {
  font-size: 1.5rem;
}

body {
  font-family: 'Courier New', sans-serif;
  font-size: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  color: white;
 }

table {
  width: 100%;
  margin: auto;
}

table, th, td {
  border: 1px solid #fff;
  border-collapse: collapse;
}

th {
  color: rgb(0, 225, 255);
}

th, td {
  padding: 15px;
}

a {
  color: rgb(0, 255, 0);
}

a:hover {
  color: rgb(1, 1, 255);
}

a:clicked {
  color: yellow;
}